
@font-face {
	font-family: 'TerminalFont';
/*
	src: url('04b20.eot?iefix') format('eot'),
			url('04b20.woff') format('woff'),
			url('04B_20__.TTF') format('truetype'),
			url('04b20#04b20') format('svg');
*/
	src: url('pixolde.eot?iefix') format('eot'),
			url('pixolde.woff') format('woff'),
			url('pixolde.TTF') format('truetype'),
			url('pixolde.svg#pixolde') format('svg');
}


body {
	background-color: #004000;
	font-family: "TerminalFont", "Courier", Courier, monospace;
	color: #00ff00;
	font-size: 32px;
/*
	font-weight: bold;
*/
	padding: 0;
	margin: 0;
}

#scanline {
	margin: 0;
	padding: 0;
	border: 0;
	height: 8px;
	width: 100%;
	position: fixed;
	background-image: url("scanline.png");
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#header {
	background-image: url("nsalogo.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
}

#content {
/*
	-webkit-filter: blur(0.5px); 
	-moz-filter: blur(0.5px); 
	-o-filter: blur(0.5px); 
	-ms-filter: blur(0.5px); 
	filter: blur(0.5px);
*/
}

#monovl {
	background-image: url("mon_ovl.png");
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
